%h1 Categorias
%table 
  %thead
    %th Nome
    %th Valor
    %th Data Agendada
    %th Tipo
    %th Frequência
  %tbody
    -@categories.each do |c|
      %tr 
        %td= c.name
        %td= c.value
        %td= c.date_scheduled
        -if c.type_category == "D"
          %td= "Despesa"
        -else
          %td= "Receita"

        %td= c.frequency.name


