<%= button_to("Nova finança",category_new_path,{class: 'btn btn-success', method: :get}) %>
<br>
Saldo Atual: <% if !@movements.empty? %>
                <%= @movements.first.balance %> 
             <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Categoria</th> 
      <th>Valor</th> 
    </tr>
  </thead>
  <tbody>
      <% @movements.each do |m| %>
        <tr>
          <td><%= m.category.name %><br><%= format_data(m.date_launched.to_s,false) %></td>
          <% if m.category.type_category == "R" %>
            <td>+<%= m.category.value %></td>
          <% else %>
            <td>-<%= m.category.value %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
